<%= form_with(model: contact, local: true, html: { class: 'basic-grey' }) do |form| %>
  <h1><%= @contact.model_name.human(count: 1) %></h1>

  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{contact.errors.count} #{t('messages.errors')}:" %></h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <br clear="all"/>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :contact_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :contact_email %>
  </div>

  <div class="field">
    <%= form.label :kind_id %>
    <%= form.collection_select(:kind_id, @kind_options_for_select, :id, :description) %>
  </div>

  <!-- EXEMPLO NESTED ATTRIBUTES HAS_ONE -->
  <%= form.fields_for :address do |address_fields| %>
    <div class="field">
      <%= address_fields.label :street %>
      <%= address_fields.text_field :street %>
    </div>
    <div class="field">
      <%= address_fields.label :city %>
      <%= address_fields.text_field :city %>
    </div>
    <div class="field">
      <%= address_fields.label :state %>
      <%= address_fields.select :state, options_for_states(@contact.address.state) %>
    </div>
  <% end %>
  <!-- FIM NESTED ATTRIBUTES HAS_ONE -->

  <!-- EXEMPLO NESTED ATTRIBUTES HAS_MANY + COCOON -->
  <div id="phones">
    <%= form.fields_for :phones do |phones_fields| %>
      <%= render partial: 'phone_fields', locals: { f: phones_fields } %>
    <% end %>

    <div class="field right">
      <label for="contact_phones"></label>
      <%= link_to_add_association 'Adicionar Telefone', form, :phones, class: 'btn btn-success' %>
    </div>
  </div>
  <br clear="all"/>
  <!-- FIM NESTED ATTRIBUTES HAS_MANY -->

  <div class="field">
    <%= form.label :rmk %>
    <%= form.text_area :rmk, id: :contact_rmk %>
  </div>

  <div class="actions right">
    <%= form.submit t('buttons.submit'), class: 'btn btn-primary' %>
    <%= link_to t('buttons.back'), contacts_path, class: 'btn btn-warning' %>
  </div>
<% end %>
